<%= form_tag '/movies/search' do %> 
  <%= label_tag :s %>
  <%= text_field_tag :s %>
  <%= submit_tag %>
<% end %>

<% @movies.each do |movie| %>
  <h3><%= link_to "#{movie.title} (#{movie.year})", movie %></h3>
<% end %>