<!DOCTYPE html>
<html>
<head>
  <title>Movie Trailers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
	<header><h1>Movie Trailers</h1><span class='tag'>Best Trailers for life</span>
	<ul class='nav-bar'>
		<li class='nav-link'><%= link_to "Movies", root_path %></li>
		<li class='nav-link'><%= link_to "Actors", actors_path %></li>
    <%= form_tag '/movies/search' do %>
      <%= label_tag :s, "Search for Movies" %>
      <%= text_field_tag :s, nil, placeholder: "Title keywords" %>
      <%= submit_tag "Search" %>
    <% end %>
	</ul></header>
<main class='content'>
<%= yield %>
</main>
<footer>
<div class='footer-content'>
	Copy Right is something
</div>
</footer>
</body>
</html>
