<!DOCTYPE html>
<html>
<head>
  <title>Movietrailers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Title</h1>
    <%= link_to "Home", root_path %>
  </header>

<%= yield %>

</body>
</html>
