<!DOCTYPE html>
<html>
<head>
  <title>Movie Trailers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
	<header><h1>Movie Trailers</h1><span class='tag'>Best Trailers for life</span>
  <div class='nav-bar'>
	<ul class='nav-links'>
		<li class='nav-link'><%= link_to "Movies", root_path %></li>
		<li class='nav-link'><%= link_to "Actors", actors_path %></li>

  </ul><div class='search'>
        <%= form_tag '/movies/search' do %>
      <%= text_field_tag :s, nil, placeholder: "Search Movies" %>
      <%= submit_tag "Search" %> 
    <% end %>
  </div></div></header>
<main class='content'>
<%= yield %>
</main>
<footer>
<div class='footer-content'>
	Copy Right is something
</div>
</footer>
</body>
</html>
